.card_link {
    text-decoration: none;
    color: white;
    cursor: default;
}

.card_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #0f0f0f;
    border-radius: 5px;
}

.card_content_container {
    grid-column: span 2;
    grid-row:span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.card_content_container > h1 {
    margin: 0;
    font-size: clamp(16px, 0.14vw + 15.44px, 19px);
}

.card_content_container > span {
    font-size: clamp(12px,1vw,16px);
    padding-top: 5px;
    opacity: 50%;
}

.img_container {
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
}

.card_img {
    top: 0;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 768px) {
    .card_content_container {
        padding:0 30px;
    }

}




